:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.App-Component {
  margin: 30px auto 0 auto;
  width: 600px;
}
.single {
  box-shadow: 1px 1px 4px 1px grey;
  margin: 10px;
  padding: 10px;
}

.pushRight {
  padding-right: 30px;
}

@media screen and (min-width: 664px) {
  .carType-center {
    display: flex;
    flex-wrap: wrap;
  }

  .single {
    flex: 0 0 calc(50% -20px);
  }
}

.nav-link {
  color: var(--mainWhite);
}

.btns {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.btns ButtonContainer {
  padding: 5px 10px;
  margin: 10px 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: -40px;
  grid-gap: 10px;
  padding: 70px;
}

.button-tiles {
  width: 600px;
  height: 150px;
}

.grid-container > button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
